* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.2s ease all;
  font-family: "Nunito Sans", sans-serif;
  scroll-margin: 5rem;
  color: var(--text);
}

html {
  font-size: 20px;
  scroll-behavior: smooth;
}
body,
button {
  font-family: sans-serif;
}
body {
  background: var(--background);
  &::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--text);
  }
}
svg {
  stroke: var(--text);
}
button {
  outline: none;
  border-radius: 5px;
  border: none;
}
button:hover,
input[type="submit"]:hover {
  filter: brightness(0.9);
}
img {
  width: 100% !important;
  height: 100% !important;
  object-fit: contain;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
input,
textarea {
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  color: var(--input);
  background-color: var(--element-bg);
  &::placeholder {
    color: var(--input);
    opacity: 0.75;
  }
}
main {
  max-width: 1500px;
  margin: auto;
  width: 95%;
  max-width: 1440px;
}
