.nav {
  top: 0;
  position: sticky;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  box-shadow: 0 0 10px 1px var(--shadow);

  margin-bottom: 2rem;
  background: var(--element-bg);
  z-index: 100;
  @media screen and (max-width: 480px) {
    padding: 0.5rem 1rem;
    font-size: 0.5rem;
  }
}
